---
layout: layout.njk
title: Blog
permalink: /blog/
---

<h1>Posts</h1>

<ul class="post-list">
  {% for post in collections.posts %}
  <li>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    <div class="post-meta">{{ post.data.date | postDate }}</div>
  </li>
  {% endfor %}
</ul>
